body{
  margin:0;
}

#board{
  width: 80%;
  height: 60%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}

/* Guess the number styles */
.guess-the-number-h1{
	display: block;
	width: 80%;
	margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  line-height: 2.5em;
	text-align: center;
}

.guess-the-number-form{
  display: block;
	width: 80%;
	margin-top:0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  line-height: 2em;
	text-align: center;
}
